.nav_main {
  display: flex;
  height: 50px;
  /* border: 1px solid black; */
  justify-content: space-between;
  margin-bottom: 10px;
  position: fixed;
  /* background-color: white; */
  top: 0px;
  left: 0px;
  right: 0px;
  padding-bottom: 8px;
  padding-top: 5px;
  background-color: rgb(255, 255, 255);
  border-bottom: 1px solid rgb(230,230,230);
  z-index: 1;
}

.left {
  /* background-color: blue; */
  display: flex;
  align-items: center;
  width: 250px;
  justify-content: flex-start;
  margin-right: 20px;
}

.middle {
  display: flex;
  align-items: stretch;
  flex: 1;
}

.input_bar {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid black;
  border-radius: 50px;
  height: 100;
  width: 100%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}

.search_box {
  height: 100%;
  border: 0px;
  padding: 0px 20px;
  border-radius: 50px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  font-size: 15px;
 
  width: 100%;
}

.search-button_icon {
  width: 24px;
  margin: 0px 15px;
}

.search_button_container {
  display: flex;
   border-left: 1px solid black; 
  height: 100%;
  
  border-top-right-radius: 50px ;
  border-bottom-right-radius: 50px;
  align-items: center;
  background-color: rgb(232, 229, 229);
  
  cursor: pointer;
  
}


.search_btn
{
 border: 0px;
  width: 100%;
  height: 100%;
  border-top-right-radius: 50px ;
  border-bottom-right-radius: 50px;
  transition: background-color 0.3s ease;
}
.search_btn:hover{
  background-color: rgb(183, 182, 182);
}

.search_btn:active{ 

  background-color: rgb(255, 246, 246) ;

}
/* .right
{
    display: flex;
    align-items: center;
   
} */

.navbar_menu {
  width: 30px;
  margin-left: 20px;
  cursor: pointer;
}

.navbar_youtube-logo {
  width: 105px;
  margin-left: 20px;
  cursor: pointer;
}

.voice-search-icon {
  width: 25px;
}
.voice_search {
  background-color: rgb(232, 229, 229);
  border-radius: 50%;
  padding: 5px 8px;
  margin-left: 20px;
  align-self: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.voice_search:hover{
  background-color: rgb(183, 182, 182);
}

.right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 280px;
  /* flex-shrink: 0; */
}

.upload {
  width: 25px;
  margin: 20px;
}

.notifications {
  width: 25px;
  margin-right: 15px;
}
.my-channel {
  width: 35px;
  border-radius: 50%;
  margin-right: 20px;
  cursor: pointer;
}
.youtube-apps{
  width: 25px;
  margin-right: 15px;
}

.nav_right-items

{

  /* border: 1px solid red; */
  border-radius: 50%;
  margin: 1px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.nav_right-items:hover{
  background-color:rgb(232, 229, 229) ;

}

.nav_right-individual_item{
  margin: 0px;
  padding: 10px 15px;

}

.notification_container{
  position: relative;
  
}
.number_notifications{
  position: absolute;
  background-color: red;
  padding:0px 2px;
  border-radius: 5px;
  font-size: 10px;
  color: white ;
  top: 10px;
  right: 12px ;
  
}